body{
    background-color: #ffedd3;
    font-size: 16px;
    font-family: 'Molengo', sans-serif;
    color:#a78559;
    width:80%;
    margin: auto;
}

a{
    color: #d2691e;
}

.recipe{
    background-color: #fffff0;
}

img{
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 5%;
}

footer{
    background-color: #fff8dc;
    color: #808080;

}